Django~=5.2.12
django-extensions==3.2.3
dbca-utils==2.1.3
git+https://github.com/dbca-wa/ledger_api_client.git
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
git+https://github.com/dbca-wa/django5-utils-six.git#egg=django5_six
git+https://github.com/dbca-wa/django-cron#egg=django-cron
git+https://github.com/xzzy/django_crispy_jcaptcha.git
coverage==4.3.1
coveralls==1.1
reportlab==4.2.2
django-widget-tweaks~=1.5.0
django-utils-six==2.0
django-bootstrap5==25.1
django-braces>=1.8.1
django-datatables-view==1.13.0
django-reversion==5.0.12
django-reversion-compare==0.8.6
django-countries==7.6.1
django-dynamic-fixture==1.9.1
openpyxl==3.0.7
datapackage==1.15.2
python-dateutil==2.6.1
py4j==0.10.2.1
djangorestframework==3.17.2
djangorestframework-gis==1.3.0
djangorestframework-csv==3.0.2
pycountry==17.1.8
six>=1.10.0
django-ical==1.4
django-taggit==6.1.0
geojson==3.1.0
unicodecsv==0.14.1
django-extra-fields==3.0.2
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
django-reset-migrations==0.4.0
django-ckeditor==5.4.0
djangorestframework-datatables==0.7.2
xlwt==1.3.0
xlsxwriter==1.1.2
gunicorn==23.0.0
dj-static==0.0.6
mixer==6.1.3
django-dirtyfields==1.9.3
python-docx==1.1.2
docxtpl==0.10.0
dj-database-url==0.5.0
psutil==5.7.0
jedi==0.17.2
django-treebeard==4.7.1
phonenumbers==8.12.15
psycopg2-binary>=2.9.4
python-decouple==3.8
numpy==1.26.3
oauthlib==3.2.2
setuptools==83.0.0
wheel~=0.46.3
requests==2.33.1
pillow>=12.2.0
nh3==0.2.18
idna>=3.18
django-phonenumber-field==8.0.0
babel~=2.15.0
pytz==2025.1
gevent==25.5.1
django-vite~=3.1.0
urllib3>=2.7.0