{% extends "webtemplate_dbca/base_b5_auth_session.html" %}
{% load static %}
{% load users %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block title %}
    Mooring - Department of Biodiversity, Conservation and Attractions 
{% endblock %}

{% block extra_hidden_inputs %}
    <link rel="icon" type="image/svg+xml" href="{% static 'mooring/img/favicon.svg' %}">
    <input type='hidden' id='template_group' name='template_group' value='{{ TEMPLATE_GROUP }}'>
{% endblock %}

{% block header %}
    {% include 'mooring/header.html' %}
{% endblock %}

{% block menu_spacer %}
{% endblock %}

{% block header_top_menu %}
{% endblock %}

{% block menu_items_left_brand %}
{% endblock %}

{% block breadcrumbs %}
    <!-- Added a temporary gap below the menu for consistent spacing on all pages.
    This will need to be adjusted when the actual breadcrumb component is implemented. -->
    <div class="mb-3"></div>
{% endblock %}

{% block messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    {% comment %} <div class="{{ message|bootstrap_message_classes }} alert-dismissable"> {% endcomment %}
                    <div class="alert 
                        {% if 'error' in message.tags %}alert-danger
                        {% elif 'warning' in message.tags %}alert-warning
                        {% elif 'success' in message.tags %}alert-success
                        {% else %}alert-info{% endif %}
                        alert-dismissible fade show" role="alert">
                        {{ message|safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block modals %}
{% endblock %}

{% block custom_js %}
{% endblock %}
