
<p>Dear {{booking.details.first_name}} {{booking.details.last_name}},</p>

<p>Please find attached the invoice for the purchase of your annual admission pass.</p>

<p>For the remainder of the 2024-25 season, Rottnest Rangers can view your annual admission permit online and a sticker is not required.
Should you have any queries please contact our office.<p>

<p>Kind regards<br>
Marine Administration Team<br>
Marine Administration  |  Rottnest Island Authority  |  PO Box 693 Fremantle WA 6959<br>
P (08) 9432 9320  | E moorings@rottnestisland.com | W www.rottnestisland.com<br> 
</p>
